GCP_PROJECT_ID=
GCP_BUCKET_NAME=
BQ_DATASET=xema_weather

# For local development, provide path to your service account JSON file
GOOGLE_APPLICATION_CREDENTIALS=

# Alternatively, for CI/CD or GitHub Codespaces, provide the entire JSON content as a single line string
GCP_SA_CREDENTIALS=
